#pg-home {
  .section-intro {
    background-image: url(./img/home-intro.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
    padding: 20px;

    #intro-title {
      max-width: 540px;
      margin-top: 100px;
      @include title-intro;
      color: $white_color;

      span {
        font-weight: 800;
      }
    }

    p {
      max-width: 475px;
      color: $white_color;
    }
  }

  .section-results {
    max-width: 1275px;
    margin: 50px auto;
    padding: 200px 0;
    background-image: url(./img/home-resultados.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    overflow: hidden;

    @media (max-width: 1024px) {
      flex-wrap: wrap;
      padding: 50px 0;
      border-radius: 0;
    }

    .results-infos {
      display: flex;
      flex-direction: column;
      gap: 20px;

      #results-title {
        max-width: 800px;
        @include title-section;
        color: $white_color;

        span {
          font-weight: 400;
        }
      }

      .results-bottom {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 15px;

        p {
          color: $white_color;
        }
      }
    }
  }
}
