.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: max-content;
  height: 47px;
  padding: 0 30px;
  @include text-btn;
  color: $white_color;
  border: 0;
  box-sizing: border-box;
  border-radius: 0;
  background-color: $white_btn_color;
  backdrop-filter: blur(20px);
  border: 1px solid $white_border_btn_color;
  border-radius: 47px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &.secondary {
    background-color: $tertiary_color;
  }

  &.tertiary {
    background-color: $white_color;
    color: $secondary_color;
  }

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
  }
}
