$black_color: #000000;
$white_color: #ffffff;
$white_btn_color: #ffffff26;
$white_border_btn_color: #ffffff36;
$white_border_header_color: #ffffff1a;
$primary_color: #0b2742;
$secondary_color: #13395e;
$tertiary_color: #10648f;
$card_color: #00000026;
